.reset-button-container {
  position: absolute;
  bottom: -470px;
  left: 640px;
}

.switch-wall-button-container {
  position: absolute;
  bottom: -450px;
  left: 697px;
}

.switch-wall-button-container button {
  padding: 4px 0;
  width:70px;
}

#addWallButton {
  display:none;
}

.show-charges-choice-container {
  position: absolute;
  bottom: -412px;
  left: 70px;
}

.show-balloons-choice-container {
  position: absolute;
  bottom: -460px;
  left: 525px;
}

.icon-refresh {
  background-image:none;
}