.reset-button-container {
  position: absolute;
  bottom: -470px;
  left: 640px;
}

.switch-wall-button-container {
  position: absolute;
  bottom: -450px;
  left: 697px;
}

.switch-wall-button-container button {
  padding: 4px 0;
  width:70px;
}

#addWallButton {
  display:none;
}

.show-charges-choice-container {
  position: absolute;
  bottom: -412px;
  left: 70px;
}

.show-charges-choice-container button {
  text-align: left;
}

.show-charges-choice-container i {
  float: left;
  margin: 3px 5px 0 0;
}

.show-balloons-choice-container {
  position: absolute;
  bottom: -420px;
  left: 525px;
}

.reset-balloons-button {
  padding-top:4px;
}

.icon-refresh {
  background-image:none;
}