<div class="show-charges-choice-container">
  <div class="btn-group btn-group-vertical">
    <button class="btn v-button" id="showAllCharges" value="all">
      <i class="icon-circle-blank" style="float:left; margin-right: 5px;"/>
      <%= showAllCharges %>
    </button>
    <button class="btn v-button" id="showNoCharges" value="none">
      <i class="icon-circle-blank" style="float:left; margin-right: 5px;"/>
      <%= showNoCharges %>
    </button>
    <button class="btn v-button" id="showChargesDifference"  value="diff">
      <i class="icon-circle-blank" style="float:left; margin-right: 5px;"/>
      <%= showChargeDifferences %>
    </button>
  </div>
</div>
